{% extends "base.jinja" %}

{% block title %}{{ post.title }} - {{ super() }}{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <div>
        {{ post.content }}
    </div>
    {#<p>Posted by <a href="{{ url_for('profiles.profile', username=post.author.username) }}">{{ post.author.username }}</a></p>#}
    {% if post.tags|length %}
    <p>tagged with:</p>
    <ul>
        {% for tag in post.tags %}
        <li><a href="{{ url_for('.post_render', tag=tag|slugify) }}">{{ tag }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}
