{% macro render_pagination(pagination, endpoint) %}
    <div class="pagination">
    {% if pagination.pages > 1 %}
        <span>Page: </span>
        {%- for page in pagination.iter_pages() %}
            {% if page %}
                {% if page != pagination.page %}
                    <a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
                {% else %}
                    <strong>{{ page }}</strong>
                {% endif %}
            {% else %}
                <span class="ellipsis">…</span>
            {% endif %}
        {%- endfor %}
    {% endif %}
    </div>
{% endmacro %}